@import "vars";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

@mixin circle($width) {
	width: $width;
	height: $width;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin: 0;
}

p {
	margin: 0 0 1em 0;
}

img {
	max-width: 100%;	
}

.text-center {
	text-align: center;
}

a {
	text-decoration: none;
	color: $default_text_color;	
	outline: 0;
}

.button {
	display: inline-block;
	background-color: $accent;
	color: #fff;
	padding: 12px 20px;
	outline: 0;
	border: 0;
	font-family: $default_font;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;

	&:hover {
		background-color: darken($accent, 10%);
	}

	.inverse & {
		background-color: #fff;
		color: $accent;

		&:hover {
			background-color: darken(#fff, 2%);
		}
	}
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.container {
	position: relative;
}

.owl-carousel {
	padding: 0 100px;

	.owl {
		&-prev, &-next {
			position: absolute;
			top: 50%;
			margin-top: -49.5px;
			outline: 0;
			width: 51px;
			height: 99px;
			background-image: url('../img/arrow-left.png');			
		}

		&-prev {
			left: 5px;
		}

		&-next {
			right: 5px;
			transform: rotateZ(180deg);
		}

		&-nav {
			&.disabled {
				display: block;
			}
		}

		&-dots {
			margin-top: 10px;
			display: flex;
			justify-content: center;
		}
		
		&-dot {
			background: #fff;
			width: 10px;
			height: 10px;
			margin: 0 4px;

			&.active {
				background-color: #e8dac4;
			}
		}
	}

}

.input-div {
	position: relative;

	.error-message {
		position: absolute;
		top: 100%;
		margin-top: 5px;
		font-weight: 500;
	}
}

.input, .textarea {
	font-size: 14px;
	font-weight: 600;
	color: $default_text_color;
	outline: 0;
	border: 0;
	border-bottom: 1px solid $accent;
	padding: 12px 30px;
	// width: 170px;
	background-color: transparent;

	.inverse & {
		color: #fff;
		border-color: #fff;

		&::-webkit-input-placeholder {
			color: #fff;
		}
		
		&::-moz-placeholder {
			color: #fff;
		}
		
		&:-ms-input-placeholder {
			color: #fff;
		}
	}

	.input-div & {
		width: 100%;
	}
	
	&.error {
		border-color: red !important;
		color: red !important;

		&+.error-message {
			display: block;
		}
	}

	&+.error-message {
		text-align: left;
		display: none;
		color: red;
		font-size: 14px;
		padding-left: 30px;
	}

	&::-webkit-input-placeholder {
		color: #6e6e6e;
		opacity: 1;
	}
	
	&::-moz-placeholder {
		color: #6e6e6e;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
		color: #6e6e6e;
		opacity: 1;
	}
	
	&.error::-webkit-input-placeholder {
		color: red !important;
	}
	
	&.error::-moz-placeholder {
		color: red !important;
	}
	
	&.error:-ms-input-placeholder {
		color: red !important;
	}
}

.selectize-control.single { 
	height: 44px;

	.selectize-input {
		box-shadow: none;
		font-size: 14px;
		color: $default_text_color;
		border: 1px solid $accent;
		border-radius: 25px;
		outline: 0;
		padding: 12px 30px;
		background-color: transparent;

		&.input-active input {
			cursor: pointer;
		}

		&:after {
			right: 20px;
	    	margin-top: -5px;
			border-width: 12px 7px 0 7px;
		}

		&.dropdown-active {
			&:after {
				margin-top: -5px;
				border-width: 0 7px 12px 7px;
			}	
		}

		.item {
			color: #6e6e6e;
		}
	}

	.selectize-dropdown {
		z-index: 80;
	}
}

.textarea {
	height: 123px;
	border: 1px solid #fff;
}

.radio {
	color: #000;

	[type="checkbox"], [type="radio"] {
		display: none;

		& + label {
			position: relative;
			padding-left: 15px;
			cursor: pointer;

			&:before {
				content: '';
				position: absolute;
				border-radius: 50%;
			}

			&:before {
				top: 1px;
				left: 0;
				width: 8px;
				height: 8px;
				border: 1px solid #000;
			}			
		}
		&:checked + label:before {
			background-color: $accent;
		}
	}
}

.flex-row {
	display: flex;

	& > * {
		flex-grow: 1;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.modal {
	position: fixed;
	z-index: 100;
	display: none;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.7);

	&-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.26);
		width: 500px;
		max-width: 100%;
		max-height: 100vh;
		overflow: auto;
		padding: 36px;	  

		&.inverse {
			background-color: $accent;
		}

		form {
			max-width: 250px;
			margin: 0 auto;

			.button {
				width: 100%;
			}
		}
	}

	&-title {
		font-size: 22px;
		line-height: 1.2;
		text-align: center;
		font-weight: normal;	
		margin-bottom: 15px;  
	}

	&-close {
		position: absolute;
		cursor: pointer;
		top: 10px;
		right: 10px;

		&:before {
			content: "\f00d";
			font-family: FontAwesome;
			color: #a5a7ac;
			font-size: 25px;
			font-style: normal;

			.inverse & {
				color: #fff;
			}
		}
		
	}

	.input {
		margin-bottom: 7px;
		width: 100%;
	}

	.button {
		display: block;
		margin: 15px auto 0 auto;
	}

}

.hamburger {
    background-color: $accent;
    padding: 10px;
	line-height: 0;
	
	.inverse & {
		background-color: #fff;
	}
    
    &-box {
        width: 30px;
    }

    &-inner {
        &, &:after, &:before {            
            border-radius: 0;
            width: 100%;
            height: 2px;        
        }

        & {
            margin-top: -1px;
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: -7px;
        }
    }
}
